{% extends "logged_in.html" %}
{% block content %}
<h1>{{ quiz_name }} - {{ team_data["name"] }}</h1>

<h3 id="preround" style="display: none;">Please wait for the next round to start</h3>

<div id="answering" style="display: none;">
    <div id="notsubmitted" style="display: none;">
        <h3 id="answeringheader">The round has started</h3>
        <div id="answer_boxes"></div>
        <button class="btn btn-primary btn-lg" onclick="submit();">Submit</button>
    </div>
    <div id="submitted" style="display: none;">
        <h3>Your team has submitted answers</h3>
        <div id="answering_answer_list"></div>
    </div>
</div>

<div id="postround" style="display: none;">
    <h3>The round is over</h3>
    <div id="postround_answer_list"></div>
</div>

<script type="text/javascript">
    let previous_state = "";
    let question_count = 0;

    get_status = () => {
        fetch("/api/status")
        .then((response) => {
            if (response.status === 200) {
                return response.json();
            }
            else {
                console.log("Status update failed");
                console.log(response);
            }
        }).then((data) => {
            switch (data["state"]) {
                case "preround":
                    document.querySelector("#preround").style.display = "";
                    document.querySelector("#answering").style.display = "none";
                    document.querySelector("#postround").style.display = "none";
                    break;
                case "answering":
                    document.querySelector("#preround").style.display = "none";
                    document.querySelector("#answering").style.display = "";
                    document.querySelector("#postround").style.display = "none";

                    if (!data["submitted"]) {
                        document.querySelector("#notsubmitted").style.display = "";
                        document.querySelector("#submitted").style.display = "none";

                        if (previous_state === "preround" || previous_state === "") {
                            let boxes = "";
                            for (let i = 1; i <= data["question_count"]; i++) {
                                boxes += "<input class='form-control form-control-lg my-4' id='answer_box_" + i + "' placeholder='Question " + i + "'>";
                            }
                            document.querySelector("#answer_boxes").innerHTML = boxes;
                            question_count = data["question_count"];
                        }
                    } else {
                        document.querySelector("#notsubmitted").style.display = "none";
                        document.querySelector("#submitted").style.display = "";

                        let answer_list = "";
                        answer_list += "<ol>";
                        for (answer of data["answers"]) {
                            answer_list += "<li>" + answer + "</li>";
                        }
                        answer_list += "</ol>";
                        document.querySelector("#answering_answer_list").innerHTML = answer_list;
                    }
                    break;
                case "postround":
                    document.querySelector("#preround").style.display = "none";
                    document.querySelector("#answering").style.display = "none";
                    document.querySelector("#postround").style.display = "";

                    let answer_list = "";
                    answer_list += "<ol>";
                    for (answer of data["answers"]) {
                        answer_list += "<li>" + answer + "</li>";
                    }
                    answer_list += "</ol>";
                    document.querySelector("#postround_answer_list").innerHTML = answer_list;
                    break;
                default:
                    document.querySelector("#preround").style.display = "none";
                    document.querySelector("#answering").style.display = "none";
                    document.querySelector("#postround").style.display = "none";
                    break;
            }
            previous_state = data["state"];
        });
    }

    submit = () => {
        let answers = [];
        for (let i = 1; i <= question_count; i++) {
            answers.push(document.querySelector("#answer_box_" + i).value);
        }
        if (answers.some((element) => element === "")) {
            if (!confirm("At least one of your answers is empty. Are you sure you want to submit?"))
            {
                return;
            }
        } else {
            if (!confirm("Are you sure you want to submit?")) {
                return;
            }
        }
        answers_string = JSON.stringify(answers);

        let data = new FormData();
        data.set("answers", answers_string);

        fetch("/api/submit", {method: "POST",
            credentials: "include",
            body: data})
            .then((response) => {
                if (response.status == 200) {
                    get_status();
                }
                else {
                    response.text().then((text) => {alert(text);});
                }
            }
        );
    }

    onload = () => {
        get_status();
        setInterval(get_status, 5000);
    }
</script>
{% endblock %}